# WordPress
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backup-db/
*.log

# Dependencies
/node_modules/
/vendor/

# Build artifacts
/assets/css/*.min.css
/assets/js/*.min.js

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Secrets
.env
*.env.local
